{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div class="author-profile" itemscope itemtype="https://schema.org/Person">
  <div class="author__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}" decoding="async">
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" alt="{{ author.name }}" width="420" height="404" decoding="async">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio" itemprop="description">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Links</button>
    <ul class="author__urls social-icons">
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fas fa-envelope" aria-hidden="true"></i>Email</a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="fas fa-graduation-cap" aria-hidden="true"></i>Google Scholar</a></li>
      {% endif %}
      {% if author.huggingface %}
        <li><a href="https://huggingface.co/{{ author.huggingface }}"><span class="hf-icon" aria-hidden="true">HF</span>Hugging Face</a></li>
      {% endif %}
      {% if author.semanticscholar %}
        <li><a href="{{ author.semanticscholar }}"><i class="fas fa-book-open" aria-hidden="true"></i>Semantic Scholar</a></li>
      {% endif %}
      {% if author.DBLP %}
        <li><a href="{{ author.DBLP }}"><i class="fas fa-database" aria-hidden="true"></i>DBLP</a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-github" aria-hidden="true"></i>GitHub</a></li>
      {% endif %}
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-linkedin" aria-hidden="true"></i>LinkedIn</a></li>
      {% endif %}
      {% if author.twitter %}
        <li><a href="https://twitter.com/{{ author.twitter }}"><i class="fab fa-twitter-square" aria-hidden="true"></i>Twitter</a></li>
      {% endif %}
      <li><a href="{{ "/cv/" | prepend: base_path }}"><i class="fas fa-file-alt" aria-hidden="true"></i>CV</a></li>
    </ul>
  </div>
</div>
